// ==================================
// company
// ==================================
.p-company {
  &-list {
    display: flex;
    padding: $space_xl 0;
    border-bottom: 1px dotted $color_corp;
    &__item {
      width: 180px;
    }
    &__description {
      width: calc(100% - 180px);
    }
  }
}
