// ==================================
// pages-hero
// ==================================
.p-pages-hero {
  height: $hero-height;
  @include sp() {
    height: $hero-height_sp;
  }
  display: block;

  &__title {
    padding-top: 285px;
    font-size: $font-size_3l;
    color: $color_corp;
    @include sp() {
      padding-top: 210px;
      font-size: $font-size_xxl;
    }

    &--inquiry {
      // c-form__mと左端を合わせる
      margin: 0 auto;
      width: 60%;
      @include sp() {
        width: 80%;
      }
      @include mq() {
        width: 100%;
      }
    }
  }

  &__paragraph {
    font-size: $font-size_l;
  }
}
