// ==================================
// philosophy
// ==================================
.p-philosophy {
  &__title {
    font-size: $font-size_xl;
    color: $color_corp;
    margin-bottom: $space_3l;
  }

  &__text {
    font-size: $font-size_l;
  }
}
