// ==================================
// recruit
// ==================================
.p-recruit {
  &__title {
    font-size: $font-size_xxl;
    color: $color_corp;
    margin-bottom: 60px;
    @include tb() {
      font-size: $font-size_xl;
    }
    @include sp() {
      font-size: $font-size_l;
      margin-bottom: $space_xl;
    }
  }

  &__sub-title {
    font-size: $font-size_xl;
    color: $color_corp;
    margin-top: $space_3l;
    margin-bottom: $space_l;
    @include tb() {
      font-size: $font-size_l;
      margin-bottom: $space_s;
    }
    @include sp() {
      font-size: $font-size_l;
    }
  }

  &__text {
    font-size: $font-size_xl;
    padding-bottom: $space_3l;
    @include sp() {
      font-size: $font-size_m;
      margin-bottom: $space_xl;
    }
  }

  &__list {
    list-style-type: disc;
    margin-left: $space_xl;
    &-item {
      font-size: $font-size_l;
      padding: $space_s 0;
      @include sp() {
        font-size: $font-size_m;
      }
    }
  }

  &__br {
    display: none;
    @include sp() {
      display: block;
    }
  }
}
