// ==================================
// container
// ==================================
.l-container {
  width: $site-width;
  margin: 0 auto;
  padding-bottom: 120px;
  padding-left: $space_l;
  padding-right: $space_l;

  @include tb() {
    box-sizing: border-box;
    width: 100%;
  }

  &__title {
    text-align: center;
    font-size: $font-size_3l;
    margin-bottom: $space_3l;

    @include tb() {
      font-size: $font-size_xl;
    }

    @include sp() {
      width: $site-width-p_sp;
      margin-left: auto;
      margin-right: auto;
      font-size: $font-size_l;
    }
  }
}
