// ==================================
// container
// ==================================

.l-grid {
  &__about {
    display: grid;
    @include pc() {
      display: block;
    }
    grid-template-rows: 350px 200px;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-areas:
      "areaA areaA areaB areaB"
      "areaC areaD areaD areaE";

    &--areaA {
      grid-area: areaA;
    }

    &--areaB {
      grid-area: areaB;
    }

    &--areaC {
      grid-area: areaC;
    }

    &--areaD {
      grid-area: areaD;
    }

    &--areaE {
      grid-area: areaE;
    }
  }
}
