// ==================================
// wrapper
// ==================================
.l-wrapper {
  min-height: 100vh;
  overflow: hidden; // 隠れたハンバーガーメニューで横スクロールが出るのを防ぐ。不要な記述かもしれない。
  position: relative;
  padding-bottom: $footer-height;
  box-sizing: border-box; /*footer、header全て含めてmin-height:100vh（ブラウザの画面の高さ）に*/

  background: linear-gradient(transparent, white) no-repeat,
    url("../img/hero.jpg") no-repeat;
  background-size: 100% $hero-height, 100% $hero-height;
  @include sp() {
    background-size: 100% $hero-height_sp, 100% $hero-height_sp;
  }
}
